@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container-initial {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-plataform {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-plataform-controls {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.bi {
    cursor: pointer;
    color: #afacac;
    font-size: 26px;
    padding: 1rem;
    transition-property: color;
    transition-duration: 500ms;
}

.bi:hover {
    color: #1d1c1c;
}

.bi-play, .bi-pause {
    font-size: 38px;
}
